/* Animations CSS */

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transform: translateY(6rem) scale(0.93);
  transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: calc(var(--section-index) * 1.5s);
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition-delay: 0s;
}

.splitting .char {
  color: transparent;
}

.splitting .char:after {
  visibility: visible;
  color: white;
  opacity: 0;
  transform: translateY(30%);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: calc(0.2s + 0.04s * var(--char-index));
}

[data-scroll="in"] .splitting .char:after {
  opacity: 1;
  transform: translateY(0);
}
